INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=
MONGODB_URI=
STORAGE_API_URL=
STORAGE_API_KEY=
STORAGE_IMAGE_UPLOAD_PATH=uploads/images
STORAGE_FILE_UPLOAD_PATH=uploads/files
STORAGE_SPREADSHEET_UPLOAD_PATH=spreadsheets
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
ADMIN_SECRET=
SLACK_WEBHOOK_URL=
RESEND_API_KEY=
ANTHROPIC_API_KEY=
HEALTH_CHECK_BEARER_TOKEN=
